extends ../../layout/layout

block variables
  -
    const pageName = 'rivs'
    const pageTitle = 'rivs'

block content
  main
    .wrapper-card
      .card 
        .card__text
          .card__textblock 
            h3.card__title
              |Управление технологическим процессом (АСУ ТП)
            .card__descr
              |АСУТП - это комплексный продукт, объединяющий технологический процесс, технические средства сбора, обработки, преобразования информации, программное, алгоритмическое, математического обеспечении и оперативный персонал.
          .card__footer 
            .card__num
              .card__cur 
                |01
              .card__total
                |/14
            a.btn(href="#")
              .btn__text
                |Подробнее
              .btn__arrow
                svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                  path(d="M3.67187 12.9999L3.67187 10.9999L16.5002 10.9999L13.2577 7.75736L14.6719 6.34315L20.3287 12L14.6719 17.6569L13.2577 16.2426L16.5004 12.9999L3.67187 12.9999Z" fill="white")
        .card__img 
          img(src="../../images/grey.png" alt="grey")
      .card.card_padding
        .card__text
          .card__textblock 
            h3.card__title
              |ОБОГАЩЕНИЕ
            .card__descr
              |Проводим самый широкий спектр исследований флотационного, гравитационного, магнитного и других методов обогащения горного сырья. Использование современного оборудования гарантирует реализацию исследовательских работ на мировом уровне.
          .card__footer 
            .links
              .links__item
                a.links__link(href="#")
                  |Гравитационный метод обогащения
              .links__item
                a.links__link(href="#")
                  |Магнитный метод обогащения
              .links__item
                a.links__link(href="#")
                  |Флотационный метод обогащения
            a.btn(href="#")
              .btn__text
                |Подробнее
              .btn__arrow
                svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                  path(d="M3.67187 12.9999L3.67187 10.9999L16.5002 10.9999L13.2577 7.75736L14.6719 6.34315L20.3287 12L14.6719 17.6569L13.2577 16.2426L16.5004 12.9999L3.67187 12.9999Z" fill="white")
        .card__img 
          img(src="../../images/grey.png" alt="grey")
      .card.card_reverse.card_padding
        .card__text
          .card__textblock 
            h3.card__title
              |Металлургия
            .card__descr
              |Разрабатываем технологии переработки золотосодержащего и полиметаллического минерального сырья, техногенных минеральных отходов, некондиционного и забалансового сырья.
          .card__footer 
            a.btn(href="#")
              .btn__text
                |Подробнее
              .btn__arrow
                svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                  path(d="M3.67187 12.9999L3.67187 10.9999L16.5002 10.9999L13.2577 7.75736L14.6719 6.34315L20.3287 12L14.6719 17.6569L13.2577 16.2426L16.5004 12.9999L3.67187 12.9999Z" fill="white")
        .card__img 
          img(src="../../images/grey.png" alt="grey")