extends ../../layout/layout

block variables
  -
    const pageName = 'modal'
    const pageTitle = 'modal'

block content
  main
    .inner
      .html-css
        .html-css__block
          .html-css__title 
            |Задание 5
          .html-css__wrapper
            .html-css__text 
              p 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum, quaerat temporibus modi, placeat velit perferendis nam sunt nulla impedit earum nobis quis quisquam magni! Fuga laboriosam, consectetur aspernatur voluptatibus.
              p 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum, quaerat temporibus modi, placeat velit perferendis nam sunt nulla impedit earum nobis quis quisquam magni! Fuga laboriosam, consectetur aspernatur voluptatibus.
              p 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum, quaerat temporibus modi, placeat velit perferendis nam sunt nulla impedit earum nobis quis quisquam magni! Fuga laboriosam, consectetur aspernatur voluptatibus.
              p 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum, quaerat temporibus modi, placeat velit perferendis nam sunt nulla impedit earum nobis quis quisquam magni! Fuga laboriosam, consectetur aspernatur voluptatibus.
              p 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum, quaerat temporibus modi, placeat velit perferendis nam sunt nulla impedit earum nobis quis quisquam magni! Fuga laboriosam, consectetur aspernatur voluptatibus.
              p 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum, quaerat temporibus modi, placeat velit perferendis nam sunt nulla impedit earum nobis quis quisquam magni! Fuga laboriosam, consectetur aspernatur voluptatibus.
              p 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum, quaerat temporibus modi, placeat velit perferendis nam sunt nulla impedit earum nobis quis quisquam magni! Fuga laboriosam, consectetur aspernatur voluptatibus.
              p 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum, quaerat temporibus modi, placeat velit perferendis nam sunt nulla impedit earum nobis quis quisquam magni! Fuga laboriosam, consectetur aspernatur voluptatibus.
              p 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum, quaerat temporibus modi, placeat velit perferendis nam sunt nulla impedit earum nobis quis quisquam magni! Fuga laboriosam, consectetur aspernatur voluptatibus.
            .html-css__mask 

            .html-css__modal
              h3 
                |Модальное окно
              p 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum, quaerat temporibus modi, placeat velit perferendis nam sunt nulla impedit earum nobis quis quisquam magni! Fuga laboriosam, consectetur aspernatur voluptatibus.
              button.btn.success(type="button")
                |Принять
              button.btn.cancel(type="button")
                |Отмена
              button.html-css__modal-close(type="button")
                img(src="../../images/close.png", alt="")