extends ../../layout/layout

block variables
  -
    const pageName = 'contacts'
    const pageTitle = 'contacts'

block content
  main.contacts-page
    .inner
      p 
        a(href="main")
          |Главная
        a(href="#")
          |Контакты
        a(href="https://www.google.ru/" target="_blank")
          |Наш партнер
      h1 
        |Контакты  
      p
        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, qui beatae provident eius dolorum magnam dolorem quas sed, veritatis fugiat molestiae dignissimos reprehenderit, amet deserunt porro voluptates sunt natus totam facere ad vero quaerat? Rem ea pariatur exercitationem, doloremque enim reprehenderit dicta ipsum voluptatum quam molestias deserunt unde aliquid nisi natus tempora eligendi voluptatem esse facilis possimus. Ipsa blanditiis ut asperiores natus! Magni repellendus dignissimos aliquid culpa ipsum fuga ullam similique neque vero, cum enim vel error quia unde totam accusantium. A quos vel dolore dicta nulla expedita, quia qui eaque ratione fuga velit, consequatur fugiat debitis assumenda enim corrupti earum sequi, mollitia molestias commodi! Eligendi excepturi quae, esse quaerat ipsam numquam voluptates repudiandae laborum placeat distinctio expedita quod vel accusamus veritatis harum?
      p 
        a(href="tel:28484848")
          |Наш телефон: 28484848
        a(href="mailto:info@website.com")
          |Наш e-mail: info@website.com