mixin footer
  footer.footer
    .footer-main
      .footer-main__col
        .footer-title
          a(href="#").footer-title__link
            |Оборудование
        nav.footer-nav
          ul.footer-ul
            li.footer-ul__item
              a.footer-ul__link(href="#") 
                |Флотационное оборудование
            li.footer-ul__item
              a.footer-ul__link(href="#") 
                |Оборудование для подготовки пульпы
            li.footer-ul__item
              a.footer-ul__link(href="#") 
                |Классификация
            li.footer-ul__item
              a.footer-ul__link(href="#") 
                |Конвейеры и питатели
            li.footer-ul__item
              a.footer-ul__link(href="#") 
                |Насосы
            li.footer-ul__item
              a.footer-ul__link(href="#") 
                |Гидрометаллургическое оборудование
      .footer-main__col
        .footer-title
          a(href="#").footer-title__link
            |Автоматизация
        nav.footer-nav
          ul.footer-ul
            li.footer-ul__item
              a(href="#").footer-ul__link
                |Автоматизированные системы управления 
            li.footer-ul__item
              a(href="#").footer-ul__link
                |Опробование и аналитический контроль
            li.footer-ul__item
              a(href="#").footer-ul__link
                |Электрооборудование
      .footer-main__col
        .footer-title
          a(href="#").footer-title__link
            |Сервис и ЗИП
        nav.footer-nav
          ul.footer-ul
            li.footer-ul__item
              a(href="#").footer-ul__link
                |Сервис
            li.footer-ul__item
              a(href="#").footer-ul__link
                |ЗИП
      .footer-main__col
        .footer-title
          a(href="#").footer-title__link
            |технология
        nav.footer-nav
          ul.footer-ul
            li.footer-ul__item
              a(href="#").footer-ul__link
                |Минералогия
            li.footer-ul__item
              a(href="#").footer-ul__link
                |Обогащение
            li.footer-ul__item
              a(href="#").footer-ul__link
                |Металлургия
            li.footer-ul__item
              a(href="#").footer-ul__link
                |Технологический аудит
            li.footer-ul__item
              a(href="#").footer-ul__link
                |Рудоподготовка
            li.footer-ul__item
              a(href="#").footer-ul__link
                |Полупромышленная установка
            li.footer-ul__item
              a(href="#").footer-ul__link
                |Запуск фабрики
            li.footer-ul__item
              a(href="#").footer-ul__link
                |Аналитическая химия
      .footer-main__col
        .footer-title
          a(href="#").footer-title__link
            |Проектирование
        .footer-title.mt-64
          a(href="#").footer-title__link
            |Пресс-центр
        nav.footer-nav
          ul.footer-ul
            li.footer-ul__item
              a(href="#").footer-ul__link
                |Новости
            li.footer-ul__item
              a(href="#").footer-ul__link
                |Научные публикации
            li.footer-ul__item
              a(href="#").footer-ul__link
                |Научно-практические конференции 
            li.footer-ul__item
              a(href="#").footer-ul__link
                |Медиатека
            li.footer-ul__item
              a(href="#").footer-ul__link
                |Фирменный стиль
      .footer-main__col
        .footer-main__block
          .footer-title
            a(href="#").footer-title__link
              |О компании
          nav.footer-nav
            ul.footer-ul
              li.footer-ul__item
                a(href="#").footer-ul__link
                  |История
              li.footer-ul__item
                a(href="#").footer-ul__link
                  |Центры компетенций
              li.footer-ul__item
                a(href="#").footer-ul__link
                  |Патенты и лицензии
          .footer-title.mt-64 
            a(href="#").footer-title__link
              |проекты
          .footer-title.mt-16
            a(href="#").footer-title__link
              |Карьера
          .footer-title.mt-16 
            a(href="#").footer-title__link
              |Контакты
        .footer-main__block
          button.socials-link
            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
              path(d="M17.3137 13.5858L15.8995 15L12.657 11.7575L10.657 11.7572L7.41421 15L6 13.5858L11.6569 7.92893L17.3137 13.5858Z" fill="#1B1B1B")
  .footer-contacts
    .socials
      a(href="#").socials-link
        svg(width='60' height='60' viewbox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M21.2261 29.4036L33.1395 24.3577C34.3155 23.832 38.3036 22.1501 38.3036 22.1501C38.3036 22.1501 40.1443 21.4142 39.9909 23.2013C39.9398 23.9372 39.5307 26.5127 39.1217 29.2984L37.8435 37.5506C37.8435 37.5506 37.7412 38.7595 36.872 38.9697C36.0028 39.18 34.5711 38.2339 34.3155 38.0236C34.111 37.8659 30.4807 35.5007 29.1513 34.3443C28.7934 34.029 28.3844 33.3982 29.2025 32.6624C31.0431 30.9278 33.2417 28.7728 34.5711 27.4062C35.1847 26.7755 35.7982 25.3038 33.2417 27.0909L26.0324 32.0842C26.0324 32.0842 25.2143 32.6098 23.6804 32.1367C22.1465 31.6637 20.3569 31.033 20.3569 31.033C20.3569 31.033 19.1298 30.2445 21.2261 29.4036Z' fill='#1B1B1B')
      a(href="#").socials-link
        svg(width='60' height='60' viewbox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
          g(clip-path='url(#clip0_271_4775)')
            path(d='M32.1214 32.1214C30.3929 33.905 30.2671 36.1286 30.1179 41C34.6593 41 37.7943 40.9843 39.4129 39.4129C40.9843 37.7943 41 34.51 41 30.1179C36.1286 30.275 33.905 30.3929 32.1214 32.1214ZM19 30.1179C19 34.51 19.0157 37.7943 20.5871 39.4129C22.2057 40.9843 25.3407 41 29.8821 41C29.725 36.1286 29.6071 33.905 27.8786 32.1214C26.095 30.3929 23.8714 30.2671 19 30.1179ZM29.8821 19C25.3486 19 22.2057 19.0157 20.5871 20.5871C19.0157 22.2057 19 25.49 19 29.8821C23.8714 29.725 26.095 29.6071 27.8786 27.8786C29.6071 26.095 29.7329 23.8714 29.8821 19ZM32.1214 27.8786C30.3929 26.095 30.2671 23.8714 30.1179 19C34.6593 19 37.7943 19.0157 39.4129 20.5871C40.9843 22.2057 41 25.49 41 29.8821C36.1286 29.725 33.905 29.6071 32.1214 27.8786Z' fill='#1B1B1B')
          defs
            clippath#clip0_271_4775
              rect(width='22' height='22' fill='white' transform='translate(19 19)')
      a(href="#").socials-link
        svg(width='60' height='60' viewbox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M31.0718 38C22.8719 38 18.1949 32.3694 18 23H22.1074C22.2423 29.8769 25.2704 32.7898 27.6689 33.3904V23H31.5366V28.9309C33.9051 28.6757 36.3933 25.973 37.2328 23H41.1004C40.4558 26.6637 37.7575 29.3664 35.8387 30.4775C37.7575 31.3784 40.8307 33.7357 42 38H37.7425C36.8281 35.1471 34.5497 32.9399 31.5366 32.6396V38H31.0718Z' fill='#1B1B1B')
      a(href="#").socials-link
        svg(width='60' height='60' viewbox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd' clip-rule='evenodd' d='M40.2202 21.6313C41.315 21.9244 42.1755 22.7848 42.4685 23.8796C42.9981 25.862 43.0002 30.0005 43.0002 30.0005C43.0002 30.0005 43.0002 34.139 42.4685 36.1214C42.1755 37.2163 41.315 38.0766 40.2202 38.3696C38.2379 38.9014 30.2852 38.9014 30.2852 38.9014C30.2852 38.9014 22.3327 38.9014 20.3503 38.3696C19.2555 38.0766 18.3951 37.2163 18.102 36.1214C17.5703 34.139 17.5703 30.0005 17.5703 30.0005C17.5703 30.0005 17.5703 25.862 18.102 23.8796C18.3951 22.7848 19.2555 21.9244 20.3503 21.6313C22.3327 21.0996 30.2852 21.0996 30.2852 21.0996C30.2852 21.0996 38.2379 21.0996 40.2202 21.6313ZM34.3464 29.9996L27.7398 33.8137V26.1855L34.3464 29.9996Z' fill='#1B1B1B')
    .footer-contacts__col
      .footer-contacts__subtitle
        |телефон
      .footer-contacts__phones
        .footer-contacts__item
          a(href="tel:88123215705").footer-contacts__link
            |8&nbsp;812&nbsp;321&nbsp;57&nbsp;05
        .footer-contacts__item
          a(href="tel:88123215704").footer-contacts__link
            |8&nbsp;812&nbsp;321&nbsp;57&nbsp;04
    .footer-contacts__col
      .footer-contacts__subtitle
        |факс
      .footer-contacts__phones
        .footer-contacts__item
          a(href="tel:88123279961").footer-contacts__link
            |8&nbsp;812&nbsp;327&nbsp;99&nbsp;61
    .footer-contacts__col
      .footer-contacts__subtitle
        |почта
      .footer-contacts__phones
        .footer-contacts__item
          a(href="mailto:rivs@rivs.ru").footer-contacts__link
            |rivs@rivs.ru
  .footer-politics
    .footer-politics__col
      .footer-politics__subtitle
        |© РИВС 2024
    .footer-politics__subtitle.footer-politics__subtitle_black
      a.footer-politics__link(href="#")
        |политика конфиденциальности
    .footer-politics__col
      .footer-politics__subtitle
        |сделано в&nbsp;&nbsp;
        a.footer-politics__logo(href="#")
          svg(width='92' height='11' viewbox='0 0 92 11' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M12.5163 1.65095C12.5163 4.29324 11.9711 6.174 10.8922 7.24418C10.0701 8.06052 9.17882 8.14418 8.83555 8.13841L8.26152 8.16148L6.7038 6.28938C7.22879 5.9115 7.5432 5.28843 7.84608 4.68266C7.94704 4.48362 8.04514 4.28747 8.15764 4.08844L10.0009 0.502887H7.11057L6.0173 2.64902L5.80961 3.06152C5.55288 3.57498 5.16343 4.35381 4.9067 4.35381H2.74325V0.502887H0V10.4951H2.74325V6.64418H3.70096L6.9519 10.4951H10.1278H10.2663C10.4538 10.4951 14.8355 10.4057 15.2336 2.79037H18.297V10.4951H21.0402V0.5H12.5192V1.65095H12.5163Z' fill='#1B1B1B')
            path(d='M83.2172 1.65104C83.2172 8.01446 80.7711 8.21062 80.7451 8.21062L80.7451 8.22792L80.7451 10.501H80.9643C81.1518 10.501 85.5335 10.4116 85.9316 2.79623H88.9979V10.501H91.7412V0.505859H83.2201V1.65104H83.2172Z' fill='#1B1B1B')
            path(d='M52.8373 0.505859H44.0046V1.65104C44.0046 8.00004 41.3104 8.21062 41.2816 8.21062L40.9412 8.22792L41.4431 10.501H53.9104V8.21062H52.8401V0.505859H52.8373ZM50.094 8.21062H45.1988C46.0382 6.88947 46.52 5.07217 46.6411 2.79623H50.094V8.21062Z' fill='#1B1B1B')
            path(d='M61.6984 6.09332L59.6012 0.505859H55.4272V10.4981H58.1705V4.03372L60.5935 10.4981H62.8002L65.2262 4.03372V10.4981H67.9695V0.505859H63.7955L61.6984 6.09332Z' fill='#1B1B1B')
            path(d='M72.4842 6.13659V0.505859H69.741V10.4981H71.3621L76.9929 4.86736V10.4981H79.7361V0.505859H78.1178L72.4842 6.13659Z' fill='#1B1B1B')
            path(d='M42.5743 0.505859H39.6493L37.1686 7.27889L34.6474 0.505859H31.6936L34.3647 7.501H37.0878L36.1387 10.0943L35.9368 10.4981H38.8733L38.9426 10.3077C39.7358 8.15004 42.1474 1.58182 42.4185 0.898169L42.5743 0.505859Z' fill='#1B1B1B')
            path(d='M29.5615 0.779899L29.4548 0.505859H25.2145L21.7039 10.0943L21.502 10.4981H24.4385L25.0125 8.93753H29.6625L30.2365 10.4981H32.7057H33.173L32.9711 10.0943L29.5615 0.779899ZM27.3346 2.62604C27.6375 3.44238 28.0183 4.47218 28.425 5.57986H28.4221L28.8144 6.64716H25.8548L26.2471 5.57986H26.2442C26.6538 4.47218 27.0346 3.43949 27.3346 2.62604Z' fill='#1B1B1B')
